__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo

venv/
env/
.idea/
.vscode/
config.json.local
.env/
.venv/
bin/
include/
lib/
lib64/
lib64
Include/
Lib/
Scripts/
pyvenv.cfg
# Local calibration results
calibration*.json
